section.info-section
  .wrapper
    .info-section__container
      .info-section__box
        h2.info-section__title.font-w-semi-bold.font-s-60
          span.color-gold-d4
            | Почему 
            br.no-br
            | агентство 
            br.no-br
          span.font-w-regular недвижимости?
        .info-section__text.font-w-light.font-s-20
          span
            | Согласно данным за 2024 год 
            span.font-w-semi-bold более 51% 
            br.no-br
            | опрошенных жителей России планируют 
            br.no-br
            | приобретать жилье в ближайшее время
          span
            | Эти цифры говорят о растущем спросе 
            br.no-br
            | на услуги агенств недвижимости и дарят 
            br.no-br
            | большие возможности и перспективы 
            br.no-br
            | для развития
          span.font-w-medium
            | Запустив собственное агентство 
            br.no-br
            | недвижимости по готовой бизнес-модели, 
            br.no-br
            | вы гарантированно сможете быстро выйти 
            br.no-br
            | на результат и занять свое лидирующее 
            br.no-br
            | место на конкурентном рынке
