section.reasons-section
  .wrapper
    .reasons-section__container
      h2.reasons-section__title.font-w-semi-bold.font-s-60
        span.color-gold-d4 4 причины 
        br
        span.font-w-regular
          | стать партнером 
          br.no-br
          | франшизы
      .swiper-bullet
        .reasons-section__cards.swiper-wrapper
          .reasons-section__card.swiper-slide
            img.reasons-section__card-icon(src="images/reasons-section-card-icon.png" loading="lazy" width="276" height="276" alt="icon")
            .reasons-section__card-title.font-w-medium.font-s-34
              | Готовая 
              br.no-br
              | концепция
            .reasons-section__card-text.font-w-r-light.font-s-20-b
              | Вы будете предлагать клиентам 
              br
              | готовый спектр услуг по продаже 
              br
              | и покупке разного вида недвижимости 
              br
              | и работать под уже готовым брендом
          .reasons-section__card.swiper-slide
            img.reasons-section__card-icon(src="images/reasons-section-card-icon.png" loading="lazy" width="276" height="276" alt="icon")
            .reasons-section__card-title.font-w-medium.font-s-34
              | Бизнес-модель
            .reasons-section__card-text.font-w-r-light.font-s-20-b
              | Вы получите проверенную 
              br
              | бизнес-модель, которая уже доказала 
              br
              | свою эффективность и легко начнете 
              br
              | зарабатывать сразу после старта бизнеса
          .reasons-section__card.swiper-slide
            img.reasons-section__card-icon(src="images/reasons-section-card-icon.png" loading="lazy" width="276" height="276" alt="icon")
            .reasons-section__card-title.font-w-medium.font-s-34
              | Опытные 
              br.no-br
              | партнеры
            .reasons-section__card-text.font-w-r-light.font-s-20-b
              | Мы имеем уже 15-ти летний опыт 
              br
              | работы и ведения бизнеса в этой нише, 
              br
              | поэтому сможем уберечь вас 
              br
              | от популярных ошибок
          .reasons-section__card.swiper-slide
            img.reasons-section__card-icon(src="images/reasons-section-card-icon.png" loading="lazy" width="276" height="276" alt="icon")
            .reasons-section__card-title.font-w-medium.font-s-34
              | Быстрый старт
            .reasons-section__card-text.font-w-r-light.font-s-20-b
              | Вы будете действовать при 
              br
              | постоянной поддержке нашей 
              br
              | команды и запустите все процессы 
              br
              | агентства всего за 19 дней
        .bullet-pagination
      .reasons-section__bottom
        .reasons-section__bottom-text.font-s-32
          | Получите подробный 
          br
          span.font-w-semi-bold план открытия агентства
        button.btn.reasons-section__btn(data-remodal-target="modal-form-plan") Получить
      img.reasons-section__img(src="images/reasons-section-img.png" loading="lazy" width="1340" height="2022" alt="image")
